{% extends "page.html" %}

{% block subtitle %}{{ _("Open data strategies") }}{% endblock %}

{% block breadcrumb_content %}
    <li class="last-child">{{ _('Open data strategies') }}</li>
{% endblock %}

{% block primary_content %}
    <h1>{{ _('Open data strategies') }}</h1>
    {% trans %}
        <p>The strategies listed on this page describe how each Queensland Government department will manage the release of its data, now and into the future.</p>
        
        <p>Access the strategies through the links below to find out:</p>
        <ul>
            <li>which datasets each agency owns, and the schedule for their release</li>
            <li>how each agency will maintain the quality of its data</li>
            <li>about processes each agency will use to determine release and be responsive to Queenslanders’ changing data needs.</li>                
        </ul>

        <p>You can also view the <a href="http://publications.qld.gov.au/dataset/consolidated-open-data-release-schedule">schedule for release for all departments</a>.</p>

        <h2>Strategies by department/agency</h2>
        <ul>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-aboriginal-and-torres-strait-islander-and-multicultural-affairs">Aboriginal and Torres Strait Islander and Multicultural Affairs</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-agriculture-fisheries-and-forestry">Agriculture, Fisheries and Forestry</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-communities-child-safety-and-disability-services">Communities, Child Safety and Disability Services</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-education-training-and-employment">Education, Training and Employment</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-energy-and-water-supply">Energy and Water Supply</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-environment-and-heritage-protection">Environment and Heritage Protection</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-public-safety-portfolio-qfes">Fire and Emergency Services</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-health">Health</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-housing-and-public-works">Housing and Public Works</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-justice-and-attorney-general">Justice and Attorney-General</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-infrastructure-local-government-and-planning">Infrastructure, Local Government and Planning</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-national-parks-recreation-sport-and-racing">National Parks, Recreation, Sport and Racing</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-natural-resources-and-mines">Natural Resources and Mines</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-public-safety-portfolio-police">Police</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-premier-and-cabinet">Premier and Cabinet</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-public-safety-portfolio-psba">Public Safety Business Agency</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-science-information-technology-and-innovation">Science, Information Technology and Innovation</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-state-development">State Development</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-tourism-major-events-small-business-and-the-commonwealth-games">Tourism, Major Events, Small Business and the Commonwealth Games</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-transport-and-main-roads">Transport and Main Roads</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-treasury-and-trade">Treasury and Trade</a></li>
        </ul>
        <h2>Strategies by statutory bodies</h2>
        <ul>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-anti-discrimination-commission-queensland">Anti-Discrimination Commission Queensland</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-family-responsibilities-commission">Family Responsibilities Commission</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-legal-aid-queensland">Legal Aid Queensland</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-legal-services-commission">Legal Services Commission</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-non-state-schools-accreditation-board">Non-state Schools Accreditation Board</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/2013-2017-open-data-strategy-office-of-the-information-commissioner">Office of the Information Commissioner</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-prostitution-licensing-authority">Prostitution Licensing Authority</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-the-public-trustee-of-queensland">The Public Trustee of Queensland</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-qleave">Qleave</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-queensland-audit-office">Queensland Audit Office</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-queensland-building-and-construction-commission">Queensland Building and Construction Commission</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategyqueensland-college-of-teachers">Queensland College of Teachers</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-queensland-curriculum-and-assessment-authority">Queensland Curriculum and Assessment Authority</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-queensland-industrial-registry">Queensland Industrial Registry</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-queensland-universities">Queensland Universities</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategyresidential-tenancies-authority">Residential Tenancies Authority</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-safe-food-production-queensland">Safe Food Production</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/seqwater-open-data-strategy-2013-2017">Seqwater</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/open-data-strategy-surveyors-board-of-queensland">Surveyors Board of Queensland</a></li>
            <li><a href="https://publications.qld.gov.au/dataset/tourism-and-events-queensland-open-data-strategy">Tourism and Events Queensland</a></li>
        </ul>

    {% endtrans %}
{% endblock %}

{% block secondary_content %}
    {% snippet 'static-content/snippets/data-navsection.html' %}
{% endblock %}

{%- block scripts %}{% endblock -%}