{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="last-child">{{ 'Statistics' }}</li>
{% endblock %}

{% block primary_content %}
    <h1>{{ _('Statistics') }}</h1>
    
    <div id="stats-total-datasets">
      <h2>{{ _('Total number of ' + h.portal_type('lss')) }}</h2>

      {% set xaxis = {'mode': 'time', 'timeformat': '%y-%b'} %}
      {% set yaxis = {'min': 0} %}
      <table width="100%">
        <thead>
          <tr>
            <th>{{ _("Date") }}</th>
             <th>{{ _('Number of ' + h.portal_type('lss')) }}</th>
          </tr>
        </thead>
        <tbody>
          {% for row in c.raw_packages_by_week %}
            <tr>
              <th data-type="date" data-value="{{ row.date.strftime("%s") }}"><time datetime="{{ row.date.isoformat() }}">{{ h.render_datetime(row.date) }}</time></th>
              <td>{{ row.total_packages }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="stats-largest-groups">
      <h2>{{ _('Top categories') }}</h2>
      <table width="100%">
        <thead>
          <tr>
            <th>{{ _('Category') }}</th>
            <th>{{ _('Number of ' + h.portal_type('lss')) }}</th>
          </tr>
        </thead>
        <tbody>
          {% for group, num_packages in h.top_categories() %}
            <tr>
              <td>{{ h.link_to(group.title or group.name, h.url_for(controller='group', action='read', id=group.name)) }}</td>
              <td>{{ num_packages }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


    <div id="stats-largest-groups">
      <h2>{{ _('Top organisations') }}</h2>
      <table width="100%">
        <thead>
          <tr>
            <th>{{ _('Organisation') }}</th>
            <th>{{ _('Number of ' + h.portal_type('lss')) }}</th>
          </tr>
        </thead>
        <tbody>
          {% for group, num_packages in h.top_organisations() %}
            <tr>
              <td>{{ h.link_to(group.title or group.name, h.url_for(controller='group', action='read', id=group.name)) }}</td>
              <td>{{ num_packages }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="stats-top-tags">
      <h2>{{ _('Top tags') }}</h2>
      <table width="100%">
        <thead>
          <tr>
            <th>{{ _('Tag name') }}</th>
            <th>{{ _('Number of ' + h.portal_type('lss')) }}</th>
          </tr>
        </thead>
        <tbody>
          {% for tag, num_packages in c.top_tags %}
            <tr>
              <td>{{ h.link_to(tag.name, h.url_for(controller='package', action='search', tags=tag.name)) }}</td>
              <td>{{ num_packages }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div id="api-report">
      <h2>{{ _('API Report') }}</h2>
        <table width="100%">
          <thead>
            <tr>
              <th width="70%">{{ _('Resource') }}</th>         
              <th width="20%">{{ _('Last modified') }}</th>
              <th width="10%">{{ _('API') }}</th>
              
            </tr>
          </thead>
          <tbody>
            {% for organisation, dataset, resource, url, created, modified, format, api, type in h.resource_report() %}
              <tr>
                <td>
                  <dl>
                    <dt>{{ _('Organisation') }}</dt>
                    <dd>{{ organisation }}</dd>
                    <dt>{{ _('Dataset') }}</dt>
                    <dd>{{ dataset }}</dd>
                    <dt>{{ _('Resource') }}</dt>  
                    <dd><a href="{{ url}}">{{ resource }}</a></dd>
                    <dt>{{ _('Resource type') }}</dt>
                    <dd>{{ type }} / {{ format }}</dd>
                    <dt>{{ _('Created') }}</dt>
                    <dd>{{ created }}</dd>
                  </dl>
                </td>  
                <td>{{ modified }}</td>
                <td>{{ api }}</td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}

{% block secondary_content %}
  <h2>{{ _('Statistics') }}</h2>
{% endblock %}

{% block scripts %}
  {{ super() }}
{#
Hellish hack to get excanvas to work in IE8. We disable html5shiv from
overriding the createElement() method on this page.
See: http://stackoverflow.com/questions/10208062/using-flot-with-bootstrap-ie8-incompatibility
#}
{% resource "vendor/block_html5_shim" %}
{% resource "ckanext_stats/stats" %}
{% endblock %}
