{% trans %}
    <h2><a href="/data-event">Data event</a></h2>
    <ul>
        <li><a href="/static-content/data-event/govhack">GovHack</a></li>
        <li><a href="http://www.qld.gov.au/dsitia/initiatives/science-open-data/">Science open data competition</a></li>
        <li><a href="/data-event/premiers-awards/events">Open Data Mixer</a></li>
        <li><a href="/data-event/opening-the-vault">Opening the Vault: Open Data in Queensland</a></li>
        <li><a href="/data-event/premiers-awards">Premier’s Awards for Open Data</a></li>
    </ul>
{% endtrans %}