{% trans %}
<h2><a href="/maps-geospatial">Maps and geospatial</a></h2>
<ul>
    <li class="current-page"><a href="/maps-geospatial/qld-globe">Queensland Globe</a></li>
    <li><a href="http://translink.com.au/about-translink/reporting-and-publications/public-transport-performance-data">Public transport performance data (SEQ)</a></li>
    <li><a href="http://www.communitysafety.qld.gov.au/Data/index.asp">Community safety</a></li>
    <li><a href="http://qldreconstruction.org.au/interactive-map/">Flood maps</a></li>
    <li><a href="http://qldspatial.information.qld.gov.au/catalogue/custom/index.page">Queensland Spatial Catalogue</a></li>
    <li><a href="http://data.gov.au/">data.gov.au</a></li>
</ul>
{% endtrans %}