{% trans %}
    <h2><a href="/case-studies/">Case studies</a></h2>
	<ul>
		<li><a href="/static-content/case-studies/open-data/">Open Data case study</a></li>
		<li><a href="/case-studies/brisbane-bus-train-app/">Travelling around Brisbane on public transport just got easier</a></li>
		<li><a href="/case-studies/pocket-zoner/">Placing land zoning information in the hands of users</a></li>
		<li><a href="/case-studies/qld-school-zones/">Using education and transport data to make roads safer for kids</a></li>
	    <li><a href="/case-studies/weather-data/">Weather data for irrigation scheduling/crop modelling</a></li>
	    <li><a href="/case-studies/wildlife-data/">Sharing Queensland wildlife data</a></li>
	    <li><a href="/case-studies/multiple-soil-datasets/">Using multiple soil datasets to inform client decision-making</a></li>
	</ul>
{% endtrans %}