{% trans %}
    <h2><a href="/for-developers/">For developers</a></h2>
	<ul>
	    <li><a href="/dataset">Datasets</a></li>
	    <li><a href="/for-developers/register-your-app">Register your app</a></li>
	    <li><a href="/other-data">Other data types</a></li>
	    <li><a href="https://publications.qld.gov.au/dataset/publishing-standards-data-qld-gov-au">Data standards</a></li>
	    <li><a href="/maps-geospatial/qld-globe">Queensland Globe</a></li>
	    <li><a href="http://docs.ckan.org/en/latest/api/index.html">API Guide</a></li>
	</ul>
{% endtrans %}