{% extends "page.html" %}

{% block subtitle %}{{ _("Contact") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="last-child">{{ _('Contact') }}</li>
{% endblock %}

{% block primary_content %}
    <h1>{{ _('Contact') }}</h1>
    <p>Please use this form <strong>only if you have a general question</strong> about this {{ h.portal_type('l') }} portal and need a response. If you have a question about an existing dataset, contact the owning agency directly using the email address provided on the relevant {{ h.portal_type('ls') }} page.</p>
    {% if h.portal_type('site') == 'data' %}
        <p>You can also <a href="/request-data">request {{ h.portal_type('l') }}</a> that's not already available.</p>
    {% endif %}
    
    <form action="//www.qld.gov.au/cgi-bin/emailform.pl" method="post" class="form">
        <div>
            <input type="hidden" name="Customer came from" value="{{ g.site_url }}/contact" />
        </div>
        <ol class="questions">

            <li>
                <label for="name">
                    <span class="label">Name</span>
                </label>
                <input name="name" id="name" size="30" type="text" />
            </li>

            <li>
                <label for="email">
                    <span class="label">Email</span>
                </label>
                <input name="email" id="email" size="40" type="email" />
            </li>

            <li>
                <label for="tel">
                    <span class="label">Phone</span>
                </label>
                <input name="tel" id="tel" size="20" value="" type="tel" />
            </li>

            <li>
                <label for="organisation">
                    <span class="label">Organisation</span>
                </label>
                <input id="organisation" name="organisation" size="30" type="text" />
            </li>

            <li>
                <label for="comments">
                    <span class="label">Comments</span>
                </label>
                <textarea name="comments" id="comments" rows="10" cols="40"></textarea>
            </li>

            <li id="captcha-container">
                <label for="captcha">Please leave this blank (this helps us identify automatic spam)</label>
                <input type="text" name="captcha" id="captcha" value="" />
            </li>

            <li class="footer">
                <input type="hidden" name="email_field" value="email" />
                <input type="hidden" name="recipient" value="government.gateway@qld.gov.au" />
                <input type="hidden" name="redirect" value="{{ g.site_url }}/thanks" />
                <input type="hidden" name="subject" value="Contact us about data.qld.gov.au" />

                <ul class="actions">
                    <li>
                        <strong>
                            <input value="Send message" type="submit" />
                        </strong>
                    </li>
                </ul>
            </li>

        </ol>
    </form>
{% endblock %}

{% block secondary_content %}
    {% snippet 'static-content/snippets/data-navsection.html' %}
{% endblock %}

{%- block scripts %}{% endblock -%}

{% block aside %}
    {% if h.portal_type('site') == 'data' %}
        {% snippet 'static-content/snippets/data-event-join-conversation.html' %}
    {% endif %}
{% endblock %}