{% extends "page.html" %}

{% block subtitle %}{{ _('Organisations') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organisations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}

{% block page_primary_action %}
  {% if c.userobj.sysadmin %}
    {% link_for _('Add organisation'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ _('Organisations') }}{% endblock %}</h1>

  {% block organizations_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organisations for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% snippet 'static-content/snippets/data-datasets-navsection.html' %}
{% endblock %}
