<h2>Disclaimer</h2>
<p>The materials available on or through this website are distributed by the Queensland Government as an information source only.</p>

<p>To the maximum extent permitted by law, the State of Queensland makes no statement, representation, or warranty about the quality, accuracy, context, completeness, availability or suitability for any purpose of, and you should not rely on, any materials available on or through this website.</p>

<p>Despite our best efforts, the State of Queensland makes no warranties that the materials available on or through this website are free of infection by computer viruses or other contamination, to the maximum extent permitted by law.</p>

<p>The Queensland Government disclaims, to the maximum extent permitted by law, all responsibility and all liability (including without limitation, liability in negligence) for all expenses, losses, damages and costs you or any other person might incur for any reason including as a result of the materials available on or through this website being in any way inaccurate, out of context, incomplete, unavailable, not up to date or unsuitable for any purpose.</p>

<p>A user of this website who uses the links provided to another Queensland Government agency’s website and material available on or through that other website acknowledges that the disclaimer and any terms of use, including licence terms, set out on the other agency’s website govern the use which may be made of that material.</p>