{% import 'macros/form.html' as form %}
{% set action = c.form_action or '' %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
  
  {% if data and data.extras and data.extras[1] and data.extras[1].value == 'YES' %}
  <div class="status info">
      <h2>Data-driven application</h2>
      <p>This {{ h.portal_type('ls') }} is used in a data-driven application and cannot be deleted but can be updated. Please <a href="mailto:onlineproducts@smartservice.qld.gov.au">contact the portal administrator</a> for further information.</p>
  </div>
  {% endif %}
<form class="form" method="post" action="{{ action }}" data-module="basic-form">
  {% block stages %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% block basic_fields %}
    {% snippet 'package/snippets/package_basic_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}
  {% endblock %}

  {% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
  {% endblock %}

  {% block form_actions %}
    <div class="form-actions">
      {% block disclaimer %}
        <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you
          agree to release your contributions under the Open Database
          License.
          {%- endtrans -%}
        </p>
      {% endblock %}
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          {% if not data.extras[1] or (data.extras[1] and data.extras[1].value == 'NO') %}
            {% set locale = h.dump_json({'content': _('Are you sure you want to delete this ' + h.portal_type('ls') +'?')}) %}
            <a class="btn btn-danger pull-left" href="{% url_for controller='package', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
          {% endif %}
        {% endif %}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add data') }}{% endblock %}</button>
    </div>
  {% endblock %}
</form>
