{% extends "page.html" %}

{% block subtitle %}{{ _("GovHack 2015") }}{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/data-event">{{ _('Events') }}</a></li>
    <li><a href="/static-content/data-event/govhack">{{ _('GovHack') }}</a></li>
    <li class="last-child">{{ _('GovHack 2015') }}</li>
{% endblock %}

{% block primary %}
    <h1>{{ _('GovHack 2015') }}</h1>
    {% trans %}

    <p>This year the Queensland Government sponsored four Queensland GovHack competitions.</p>
    <ul>
      <li>Disaster preparedness challenge: help your community get ready for times of emergency &amp; disaster (DNRM/IGEM)</li>
      <li>Science: Best use of science data on the Queensland Open data portal (DSITI) </li>
      <li>Where is the Knowledge Economy in Queensland? DSITI</li>
      <li>Uncovering Queensland’s untold stories DSITI</li>
    </ul>

    <p>GovHack is an annual open data competition created to draw people together from government, industry, academia and the public. The aim is to pull people together to find new, interesting and innovative ways to use, reuse and mash up the wealth of data out there.</p>
    <p>This year over 160 participants met in Brisbane, Gold Coast, Toowoomba and Sunshine Coast and submitted  66 unique entries.  </p> 
    <p>The winners were announced on the 31 July.  Thank you to the Microsoft Innovation Centre (Qld) for hosting the event.    </p>
    <p>Congratulations to the winners of the 2015 Queensland GovHack 2015 winners Data.</p>

    <h2>Disaster preparedness challenge: help your community get ready for times of emergency &amp; disaster (DNRM/IGEM)</h2>

    <div class="cut-in">
      <img src="/assets/images/events/gh15-winner-pn.jpg" alt="" />
    </div>
    <h3>Winner: Project Nava – Disaster Relief Intelligence </h3>
    <p><strong>Team - Visionaries:</strong> Felix Lee, Adam Ahmed A. Hamed, Mark Ganser, Daniel Farmer, Daniel Iskander, Weiwu Zhang, Hans Barroga, Faisal Alsiddiqi  (Brisbane)</p>

    <p>This challenge was co-sponsored by the Department of Natural Resources &amp; Mines and the Office of the Inspector General Emergency Management, Queensland Government </p>
    <p>The challenge:</p> 
    <p>Help the Queensland Government to improve the quantity, quality and accuracy of data available in emergency of disaster response or recovery situations and to let people know about hazards in their area, those that could be affected and the services that can help. </p>
    <p><a href="https://hackerspace.govhack.org/prize_entries/disaster-preparedness-challenge-help-your-community-get-ready-times-emergency-disaster">More information</a></p>
    <p>Project Nava integrates useful geo-located open data for disaster relief in real time Fire hazard data and user’s feedback is accessible via a map to provide an overview of a disaster.  It reports the population distribution by mobile phone GPS to assist with relief allocations and allows professionals to SMS evacuation instructions by geo-location.  </p>
    <ul>  
      <li><a href="https://hackerspace.govhack.org/content/project-naya">More Project Naya information</a></li>
      <li><a href="http://youtu.be/jQtn_Oq9eTY">Consensus video</a></li>
    </ul> 

    <h3>Runners-up:</h3>
    <ul>
      <li><a href="https://hackerspace.govhack.org/content/get-ready">Get Ready by Hazard Busters (Toowoomba)</a></li>
      <li><a href="https://hackerspace.govhack.org/content/samaritan">Samaritan by Rick Click Development (Brisbane)</a></li>
    </ul>

    <h3>Highly Commended:</h3>
    <ul>
      <li><a href="https://hackerspace.govhack.org/content/emergency-kitapp">Emergency Kit App by Oceans (Gold Coast) </a></li>
      <li><a href="https://hackerspace.govhack.org/content/banana-baron">Banana Barons by Banana Baron (Brisbane) </a></li>
    </ul>


    <h2>Science: Best use of science data on the Queensland Open data portal (DSITI)</h2>
    
    <div class="cut-in">
      <img src="/assets/images/events/gh15-winner-c.jpg" alt="" />
    </div><h3>Winner:   Consensus</h3>
     
    <p><strong>Team -   Yakkity Hacks:</strong>  Jared Oats, Tiffany Willemse, Andrew Saul, Dale Freya, Sam Gillespie (Brisbane) </p>
    <p>This challenge was sponsored by the Department of Science, IT &amp; Innovation, Queensland Government </p>
    <p>The challenge:</p>
    <p>Must use, reuse or repurpose at least one science open data set on the Queensland Government Open Data Portal.  Potential themes identified included:
    <ul>
      <li>Climate Change Adaptation</li>
      <li>Facilitate and support decision making for sustainable development</li>
      <li>Protecting the Great Barrier Reef</li>
      <li>Economic benefits of ecosystem services</li>
    </ul>

    <p><a href="https://hackerspace.govhack.org/prize_entries/best-use-science-data-queensland-government-open-data-portal">More information</a></p>
    <p>Consensus was born out of a passion for data as a learning mechanism for the world around us.  We feel people will benefit more from data if there is a way to engage with it, so we chose to create a quiz that uses data from multiple levels of government to make learning about the world around us a more enjoyable and entertaining experience. </p>  

    <ul>  
      <li><a href="https://hackerspace.govhack.org/content/consensus">More Consensus information</a></li>
      <li><a href="https://www.youtube.com/watch?v=Q994vWVLNRM">Consensus video</a></li>
    </ul>  

    <h3>Runners-up:</h3>
    <ul>
      <li><a href="https://hackerspace.govhack.org/content/samaritan">Samaritan by Rick Click Development (Brisbane)</a></li>
      <li><a href="https://hackerspace.govhack.org/content/anemu">Anemu by Whatamelon (Brisbane)  </a></li>
    </ul>
       
     
     
    <h2>Where is the knowledge economy in Queensland? (DSITI)</h2>
    
    <div class="cut-in">
      <img src="/assets/images/events/gh15-winner-gd.jpg" alt="" />
    </div><h3>Winner:   GradDivide </h3>
     
    <p>Team - Kurt+Karla: Carla Outerbridge, Kurt Murrell (Brisbane) </p>

    <p>This challenge was sponsored by the Department of Science, IT &amp; Innovation, Queensland Government </p>
    <p>The challenge:</p><p>
    Create an app, visualisation or web service using, reusing and repurposing at least 1 dataset from the Queensland Government’s Open Data to map Queensland’s knowledge economy.</p>
    <p><a href="https://hackerspace.govhack.org/prize_entries/where-knowledge-economy-queensland">More information</a></p>
    <p>GradDivide displays details of a suburb’s formal educational achievement paired with demographic information in Queensland</p>

    <ul>  
      <li><a href="https://hackerspace.govhack.org/content/graddivide">More GradDivide information</a></li>
      <li><a href="http://youtu.be/J7Fyj2LER98">GradDivide video</a></li>
    </ul>  

    <h3>Runners-up:</h3>
    <ul>
      <li><a href="https://hackerspace.govhack.org/content/mystate">MyState by MyState (Gold Coast)</a></li>
      <li><a href="https://hackerspace.govhack.org/content/knowconomy">Knowconomy by Knowconomy (Toowoomba)</a></li>
    </ul>
     
    <h2>Uncovering Queensland’s untold stories (DSITI)</h2>
    
    <div class="cut-in">
      <img src="/assets/images/events/gh15-winner-lwf.jpg" alt="" />
    </div><h3>Winner: Lest We Forget </h3>
     
    <p><strong>Team -  Studio39 Alpha:</strong>  Tommi Sullivan, Zyion Attiig, Ryoma Ohira, David Rowe (Gold Coast)</p>
    <p>This challenge was sponsored by the Department of Science, IT &amp; Innovation, Queensland Government </p>
    <p>The challenge:</p>
    <p>To look into Queensland’s historical data from Queensland State Archives and State Library of Queensland and to help us uncover untold stories.</p>
    <p><a href="https://hackerspace.govhack.org/prize_entries/uncovering-queenslands-untold-stories" alt="More information on Uncovering Queensland’s untold stories category">More information</a></p>
    <p>Lest we Forget created an app to show stories of diggers who went to WW1 in an innovative way.   </p>
    <ul>  
      <li><a href="https://hackerspace.govhack.org/content/lest-we-forget">More Lest We Forget information</a></li>
      <li><a href="https://www.youtube.com/watch?v=xEu5LcJfKHQ">Lest We Forget video</a></li>
    </ul>  

    <h3>Runners-up:</h3>
    <ul>
      <li><a href="https://hackerspace.govhack.org/content/if-i-were-anzac">If I were an Anzac by Kathew &amp; Cashews (Gold Coast)</a></li>
      <li><a href="https://hackerspace.govhack.org/content/brisvegas-estate">Brisvegas Estate by Rusty hack skills (Brisbane)</a></li>
    </ul>
      
    <p><a href="https://www.govhack.org/govhack-2015/">More information about GovHack</a></p>







    {% endtrans %}

{% endblock %}

{% block aside %}
	{% snippet 'static-content/snippets/data-event-join-conversation.html' %}
{% endblock %}

{% block secondary_content %}
    {% snippet 'static-content/snippets/data-event-govhack-navsection.html' %}
{% endblock %}

{%- block scripts %}
  <script type="text/javascript"><!--
    $( '#nav-site' ).find('[href="/data-event"]').addClass('active');
  // --></script>
  {{ super() }}
{% endblock -%}