{% extends "page.html" %}

{% block subtitle %}{{ _('About | 2014 Premier’s Awards for Open Data | Events') }}{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/data-event">{{ _('Events') }}</a></li>
    <li><a href="/data-event/premiers-awards/">{{ _('Premier’s Awards for Open Data') }}</a></li>
    <li class="last-child">{{ _('About the 2014 Premier’s Awards for Open Data') }}</li>
{% endblock %}

{% block primary_content %}
    <h1>{{ _('About the 2014 Premier’s Awards for Open Data') }}</h1>
    {% trans %}

      <p>The 2014 Premier’s Awards for Open Data  recognises and celebrates the innovative use of publicly released Queensland  Government data to improve service delivery for Queenslanders. </p>
      <p>The winners of the 2014 Premier’s Awards  for Open Data were announced at a ceremony in Brisbane on Tuesday 2 December  2014.</p>
      <p>A prize pool of $15,000 in cash was awarded  to the entrants who demonstrated the most innovative use of, and real outcomes  from, public data in the following categories:</p>
      <ul>
        <li>Best use of open data</li>
        <li>Best commercial app</li>
        <li>Best community app</li>
        <li>Best Queensland public  servant entry. </li>
      </ul>
      <p>Microsoft also awarded an additional prize  to the entrant who demonstrated the most start-up potential.</p>
      <img border="0" width="245" height="90" src="/assets/images/microsoft.png" />
      <p>Congratulations to the winners of the 2014  Premier’s Awards for Open Data.</p>
      <ul>
        <li><a href="#winners">2014 winners and finalists</a></li>
        <li><a href="/data-event/premiers-awards/about-2013">Previous winners</a></li>
      </ul>
      <h2 id="winners">Best use of open data</h2>
      <h3>Winner: WikiQueensland—a  big data fusion system </h3>
      <h4>Xue Li,  Xiaofang Zhou, Sayan Unankard, Shazia Sadiq, Ling Chen, Weitong Chen</h4>
      <p>WikiQueensland provides a comprehensive  view of all publicly accessible Queensland Government data and uses a ranking  mechanism to demonstrate the quality of life in Queensland. Users can search  and visualise the ranking scores in four categories: safety, healthcare,  education and living standards. In addition, data from social networks like  Twitter is gathered to analyse local sentiment about current issues, such as  budget and traffic conditions. </p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/0yOSzNax3Uc" frameborder="0" allowfullscreen></iframe>
      
      <h3>Finalist: h!Story—explore  Queensland through time and place </h3>
      <h4>Wade Milne,  Rino Breebaart, Matt Curr, Nathen Street</h4>
      <p>h!Story is a concept tablet application using Department  of Natural Resources and Mines’ historical maps and photos. It’s a crowd  sourcing platform to capture users’ stories and other information from their  past, bringing maps and images to life. Using the device's location  capabilities, users can view maps and images at their current location to look  through a window to the past. Imagine standing in front of the Story Bridge or  the main street of Longreach and seeing what life was like 50 or 100 years ago.</p>
      <h3>Finalist:  Queensland Globe mapper </h3>
      <h4>Land Solution Australia</h4>
      <p>The idea is that a mobile device or tablet  can be used to view open data sets from the Queensland Globe(s) or other  private globes and communicate information from the field back to the globe.  The user can confirm the validity of current information in the field and  record other spatial data such as position, photographs, measurements or other  information. The user then submits this data to the cloud so that others can  view and access the improvements made by the user. For example, home  owners could confirm address details for emergency services response, or images,  video and spatial data could be sent by users to support extreme weather events. </p>
      <h2>Best commercial app</h2>
      <h3>Winner: Truii.com—big  data concepts for small business </h3>
      <h4>Nick Marsh, Sylvain Arene</h4>
      <p>Truii.com helps to bring big data concepts to small  businesses by leveraging data from small business and combining it with public  open data to create insight. Truii.com provides a large collection of data  wrangling functions to allow non data specialists to simultaneously share,  manage and maintain version control of their data. This allows teams that share  data to work more efficiently. Truii.com also has public libraries so that  teams can leverage their data by mashing it up with open data resources. </p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/lEOZz3NOTeY" frameborder="0" allowfullscreen></iframe>

      <h3>Finalist: Farm  mapping using LIDAR </h3>
      <h4>Robert  Howard</h4>
      <p>LIDAR is a powerful tool that provides high  resolution spatial information about the land and is used to identify areas for  differential management. Precision agricultural techniques are widely used in  broad-acre cropping systems however the cost of integrated differential GPS  systems is in the thousands of dollars—beyond the reach of many small farmers.  LIDAR can bring the benefits of precision agriculture to the smaller farmer at  a fraction of the cost. </p>
      <h3>Finalist: TAFE  Queensland myProfiler </h3>
      <h4>Tracey  Jones, Alyce Thew, Lara Liddell, Laura Rainbird, Alexandra Reed</h4>
      <p>TAFE Queensland's myProfiler is a custom built app  that identifies an individual’s career profile based on 12 visual questions.  Not only does myProfiler help Queenslanders find the right career and courses  that may be suited to them, the data collected in the app is used to inform the  continued improvement of products and services that TAFE Queensland offers.</p>
      <h2>Best  community app</h2>
      <h3>Winner: Derivative  maps of Queensland </h3>
      <h4>Dru Taylor,  David Uhlmann</h4>
      <p>This is an interactive website where users can go  to map multiple levels of data from different sources. The example provided  used road crash data and showed blue to red and light to dark heat and  political maps. The lighter the colouring the lower the number of car crashes,  while red represented an older population in the area. The entrants are  planning to include graphs and other functionalities so the data can be more  easily visualised and accessible to the community. </p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/X16bte9oMAY" frameborder="0" allowfullscreen></iframe>

      <h3>Finalist: Queensland  Seniors and Carers Business Discount Directory mobile app </h3>
      <h4>Jonathan  Whiting, Daniel Pollard</h4>
      <p>This is a mobile pocket-sized version of Queensland  Seniors and Carers Business Discount Directory. It includes data for all  Queensland regions (the hard copy is split into eight regional editions) and is  packed full of extra features which make it easy for users to find discounts  and offers on the move. </p>
      <h3>Finalist: Race  relations on the colonial frontier </h3>
      <h4>Benjamin  Hall</h4>
      <p>Our colonial history is only vaguely understood but  the archives revealed on the open data website tell, from firsthand accounts,  the powerful way in which colonialism was experienced by Aboriginal and Torres  Strait Islander people. The aim is to create a story-map based on the archive  of the colonial secretary's records. The story-map will be an interactive  website using the latest Geographical Information System technology to map the  archives so that people can view the archive from their smart phones. </p>
      <h2>Best  Queensland public servant entry</h2>
      <h3>Winner: Pulse </h3>
      <h4>Paul Carr –  Department of the Premier and Cabinet</h4>
      <p>Pulse is an app which provides the community with  simple updates on recent Queensland Government policy changes as they happen.  Queenslanders can stay up to date with what's going on in their state and the  Queensland Government receives feedback to assist with making future decisions.</p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/jqNuDe-CLPA" frameborder="0" allowfullscreen></iframe>

      <h3>Finalist: h!Story–explore  Queensland through time and place </h3>
      <h4>Wade Milne,  Rino Breebaart, Matt Curr, Nathen Street – Department of Natural Resources and  Mines</h4>
      <p>h!Story is a concept tablet application using  Department of Natural Resources and Mines’ historical maps and photos. It’s a  crowd sourcing platform to capture users’ stories and other information from  their past, bringing the maps and images to life. Using the device's location  capabilities, users can view maps and images at their current location to look  through a window to the past. Imagine standing in front of the Story Bridge or  the main street of Longreach and seeing what life was like 50 or 100 years ago.</p>
      <h3>Finalist: TAFE  Queensland myProfiler </h3>
      <h4>Tracey  Jones, Alyce Thew, Lara Liddell, Laura Rainbird, Alexandra Reed – TAFE  Queensland</h4>
      <p>TAFE Queensland's myProfiler is a custom built app  that identifies an individual’s career profile based on 12 visual questions.  Not only does myProfiler help Queenslanders find the right career and courses  that may be suited to them, the data collected in the app is used to inform the  continued improvement of products and services that TAFE Queensland offers.</p>
      <h2>Microsoft  StartUp Q Award</h2>
      <h3>Winner:  WikiQueensland—a big data fusion system </h3>
      <h4>Xue Li,  Xiaofang Zhou, Sayan Unankard, Shazia Sadiq, Ling Chen, Weitong Chen</h4>
      <p>WikiQueensland provides a comprehensive  view of all publicly accessible Queensland Government data and uses a ranking  mechanism to demonstrate the quality of life in Queensland. Users can search  and visualise the ranking scores in four categories: safety, healthcare,  education and living standards. In addition, data from social networks like  Twitter is gathered to analyse local sentiment about current issues, such as  budget and traffic conditions. </p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/0yOSzNax3Uc" frameborder="0" allowfullscreen></iframe>

      <h3>Finalist:  Derivative maps of Queensland </h3>
      <h4>Dru Taylor,  David Uhlmann</h4>
      <p>This is an interactive website where users can go  to map multiple levels of data from different sources. The example provided  used road crash data and showed blue to red and light to dark heat and  political maps. The lighter the colouring the lower the number of car crashes,  while red represented an older population in the area. The entrants are  planning to include graphs and other functionalities so the data can be more  easily visualised and accessible to the community.</p>
      <h3>Finalist:  Pulse </h3>
      <h4>Paul Carr –  Department of the Premier and Cabinet</h4>
      <p>Pulse is an app which provides the community with  simple updates on recent Queensland Government policy changes as they happen.  Queenslanders can stay up to date with what's going on in their state and the  Queensland Government receives feedback to assist with making future decisions.</p>
      <h2>More information about the Premier’s Open Data  Awards </h2>
        <p>For more information about the awards,  contact:<br />
        Awards Coordinator<br />
        2014 Premier’s Awards for Open Data<br />
        Department of the Premier and Cabinet<br />
        Email: <a href="mailto:opendataawards@premiers.qld.gov.au">opendataawards@premiers.qld.gov.au</a><br />
        Phone: +61 7 3003 9200 </p>

    {% endtrans %}
{% endblock %}

{% block aside %}
    {% snippet 'static-content/snippets/data-event-join-conversation.html' %}
{% endblock %}

{% block secondary_content %}
    {% snippet 'static-content/snippets/data-event-premiers-awards-navsection.html' %}
{% endblock %}

{%- block scripts %}
  <script type="text/javascript"><!--
    $( '#nav-site' ).find('[href="/data-event"]').addClass('active');
  // --></script>
  {{ super() }}
{% endblock -%}