{% extends "admin/base.html" %}

{% block primary_content_inner %}
  <div class="module-content">
    <ul class="user-list">
      {% for user in c.sysadmins %}
        <li>{{ h.linked_user(user) }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block aside %}
  <div class="aside tip">
     <div class="section-header"><h2>{{ _('What are sysadmins?') }}</h2></div>
  
      {% set docs_url = "http://docs.ckan.org/{0}/{1}/paster.html#sysadmin-give-sysadmin-rights".format(request.environ.CKAN_LANG, g.ckan_doc_version) %}
      {% trans %}
        <p>A sysadmin is someone that has full control over a CKAN instance.
          You can only add CKAN sysadmins via the <code>sysadmin</code> paster
          command.</p>
      {% endtrans %}
      <p><a href="{{ docs_url }}" target="_blank">{{ _('Read the documentation') }}</a></p>
  </div>
{% endblock %}
