{% extends "page.html" %}

{% block subtitle %}{{ _('About | 2013 Premier’s Awards for Open Data | Events') }}{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/data-event">{{ _('Events') }}</a></li>
    <li><a href="/data-event/premiers-awards/">{{ _('Premier’s Awards for Open Data') }}</a></li>
    <li class="last-child">{{ _('About the 2013 Premier’s Awards for Open Data') }}</li>
{% endblock %}

{% block primary_content %}
    <h1>{{ _('About the 2013 Premier’s Awards for Open Data') }}</h1>
    {% trans %}
<p>The 2013 Premier's Awards for Open Data ceremony was held  on Tuesday 3 December 2013 at The Cube, Science and Engineering Centre, Gardens  Point Campus, Queensland University of Technology.</p>
<p> The awards program recognised and celebrated the  innovative use of publicly released Queensland Government data to improve  service delivery for Queenslanders. The program was underpinned by the  government's objective of the Open Data Initiative to:</p>
<ul>
  <li>encourage people, companies, researchers and non-government  organisations to develop innovative solutions to Queenslanders' problems</li>
  <li>help make government more transparent and accountable.</li>
</ul>
<p>The program also promoted data visualisations, application  development and other unique treatments of government open data.</p>
<h2>Award categories</h2>
<p>Prize money to the value of $5000 was awarded in each of  the following categories to the entries that demonstrated the most innovative  use of, and real outcomes from, public data:</p>
<ul>
  <li>Public transport—delivers real improvements to customer  experience.</li>
  <li>Improved service delivery—delivers improved social services to  Queenslanders.</li>
  <li>Growing and developing Queensland’s future—delivers real  economic benefits to Queenslanders.</li>
  <li>Open—wildcard category.</li>
</ul>
<h2>Award winners and finalists</h2>
<h3>Public transport</h3>
<h4>Winner—Yan Sun for Brisbane Bus and Train </h4>
<p>Brisbane Bus and Train is an award-winning Windows phone application.  The intention of this application is to improve the data accuracy, add new trip  planner features and enable interaction between passengers and TransLink.</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/Q61r-X9YAQA" frameborder="0" allowfullscreen></iframe>
<h4>Finalist—Skedgo Pty Ltd for TripGo </h4>
<p>TripGo is a trip planner that shows all your door-to-door  transport options in Brisbane, the Gold Coast and the Sunshine Coast. It  compares transport modes to show the most efficient, cost-effective and  quickest options.</p>
<h4>Finalist—Smart Transport Research Centre, QUT, for Bus  Hailer App </h4>
<p>The Bus Hailer app is designed to alleviate the problem of  missing a bus or train. Using real-time bus location data, the app alerts the  user when they should leave to walk to their stop, tracks the progress of the  bus, and alerts the user when they need to get off at their destination.</p>
<h4>Finalist—Urban Informatics Research Lab for  Augment—Augmented Bus Stop Identifier </h4>
<p>Augment is a mobile application that improves the bus  travel experience. Using TransLink data, and augmented reality, Augment makes  it easier to locate bus stops and plan your journey.</p>
<h3>Improved service delivery</h3>
<h4>Winner—Queensland Council of Social Service for Queensland  Community Services Map </h4>
<p>The Queensland Community Services Map helps those working  in the health and community services sector find the right services for their  clients. It is based on data drawn from the Department of Communities, Child  Safety and Disability Services and organised into regions using geospatial data  from the Department of Natural Resources and Mines. This application is a  searchable, interactive map of community services from across the state.</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/spkvogTiol0" frameborder="0" allowfullscreen></iframe>
<h4>Finalist—Rachael Mulliss for Re-inventing Neighbourhood  Watch </h4>
<p>The Re-inventing Neighbourhood Watch project revolves  around the creation of iOS and Android smartphone applications, as well as an  additional website interface. These services allow citizens convenient mobile  access to a variety of data, including crime statistics, live feeds from  emergency services, interactive social hashtags and community news  publications.</p>
<h4>Finalist—Community Information Support Services Ltd for  Access My Community </h4>
<p>Access My Community is a fast and effective solution for  those who face the challenge of finding information about what is happening in  their local neighbourhood. Dataset information is taken and created into a  powerful and accessible online resource. This allows the public to be more  involved and find the assistance they need within their local community.</p>
<h4>Finalist—Data Master Pty Ltd for Greentape Solutions </h4>
<p>Inspired by the recent regulatory reform to the Nature  Conservation Act for Protective Plants, the Greentape Solutions app runs on a  location aware device that expedites the collection of field data to assist  government in the management of threatened plants. The app allows users to  efficiently record and submit digital data in a format suitable to realise the  benefits noted in the government ‘greentape’ reduction strategy.</p>
<h3>Growing and developing Queensland’s future</h3>
<h4>Winner—Rachael Mulliss for AgriHUB: Focus on Agriculture  in Queensland </h4>
<p>The AgriHUB project is based on information gathered from  the Queensland Government’s recent land audit. A simple, interactive mapping  tool is the centre of the project, and vast amounts of documentation are  knitted together in an interactive and immersive style. This web application  will empower the industry to generate and discuss more informed, sustainable  business and environmental decisions, while assisting with the Queensland  Government’s action plan to double industry output by 2040.</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/gYWOV1pk8Vo" frameborder="0" allowfullscreen></iframe>
<h4>Finalist—QUT for Visualisation System for Water,  Geological and Environmental Resources Data </h4>
<p>The software system (GVS) enables data organisation,  importation, integration and display via 2D and 3D visualisation of a wide  range of natural system data. The software has a wide capability and is  scalable from local areas to regional catchments and geological basins.</p>
<h4>Finalist—BKG Solutions Pty Ltd for Marine Zones South East  Queensland </h4>
<p>The Marine Zones app shows recreational fishermen where  they aren’t allowed to fish offshore, covering the Great Barrier Reef and the  area around Moreton Bay. Typically these areas are marine parks that have some  form of regulation applicable to them. The app provides an alarm when the user  is close to, or in, a particular marine park.</p>
<h4>Finalist—Scott de Jonge for Access Map </h4>
<p>Access Map is an application to provide users with  contextual accessibility information based on location. The accessibility  information is based on government and council data, user ratings and comments,  and through elevation and distance APIs. Through the collection of wide-ranging  data, Access Map produces real-world information for people with physical,  cognitive and sensory disabilities. Access Map creates a digital community  using existing services and provides a comprehensive guide to accessibility.</p>
<h3>Open</h3>
<h4>Winner—Robert Crago for School Zones </h4>
<p>School Zones is an app that grew out of frustration with  driving around Queensland and seeing speed restriction signs outside schools,  not always knowing whether a speed adjustment was required.</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/pbmgPAeG5Ow" frameborder="0" allowfullscreen></iframe>
<h4>Finalist—GRIDSTONE / RIPE Intelligence for EmergencyAUS </h4>
<p>EmergencyAUS aims to increase the distribution of  coordinated intelligence across Queensland to improve decision making during  fire, flood, storm, rescue, hazmat, cyclone, health, tsunami and earthquake  emergencies.</p>
<h4>Finalist—Object Consulting for cxParks </h4>
<p>cxParks is a powerful app that brings data together in an  interactive experience for Brisbane residents and visitors. This tool promotes  and preserves cultural heritage, stimulates local business as well as helping  Queensland become the number one nature-based tourism destination in Australia.  cxParks delivers spatial information allowing users to explore location,  accessibility, services, photos and events at hundreds of local and national  parks throughout the region.</p>
<h4>Finalist—Yan Sun for Queensland Cars </h4>
<p>Queensland Cars allows the public to browse and search  statistics about vehicles, trailers and motorcycles registered in Queensland in  a visualised format. For commercial users, the app will be useful in finding  out the trends of various models over the years.</p>
<h2>Microsoft Start-Up Accelerator Award</h2>
<p>The Microsoft Start-Up Accelerator Award was awarded to  the entry that developed the most innovative concept with the best start-up  potential.<br />
  The prize included:</p>
<ul>
  <li>5 Nokia Lumia 920s</li>
  <li>5 Asus VivTab tablets</li>
  <li>a 4-month course at Founder Institute for the nominated team  founder to attend from February 2014</li>
  <li>a maximum of $60,000 worth of Windows Azure for a maximum period  of 2 years.</li>
</ul>
<h3>Microsoft Start-Up Accelerator Award winner</h3>
<h4>Winner—Rachael Mulliss for AgriHUB: Focus on Agriculture  in Queensland </h4>
<p>The AgriHUB project is based on information gathered from the  Queensland Government’s recent land audit. A simple, interactive mapping tool  is the centre of the project, and vast amounts of documentation are knitted  together in an interactive and immersive style. This web application will  empower the industry to generate and discuss more informed, sustainable  business and environmental decisions, while assisting with the Queensland  Government’s action plan to double industry output by 2040.</p>

    {% endtrans %}
{% endblock %}

{% block aside %}
    {% snippet 'static-content/snippets/data-event-join-conversation.html' %}
{% endblock %}

{% block secondary_content %}
    {% snippet 'static-content/snippets/data-event-premiers-awards-navsection.html' %}
{% endblock %}

{%- block scripts %}
  <script type="text/javascript"><!--
    $( '#nav-site' ).find('[href="/data-event"]').addClass('active');
  // --></script>
  {{ super() }}
{% endblock -%}