<div id="analytics">
	<script id="analytics-inline-config" type="text/javascript"><!--
		qg.swe.pageTitle = $.trim( $( 'title' ).text().replace( /\|.*$/, '' ));
		qg.swe.franchiseTitle = '{{ h.portal_type('site') }}.qld.gov.au';

		qg.swe.vhost = '';
		qg.swe.servedBy = window.location.hostname;

	//--></script><!-- end #analytics-inline-config -->

<!-- Load configuration for analytics -->
	<script type="text/javascript" src="https://static.qgov.net.au/assets/beta-v2/script/analytics.js"></script>
</div><!-- end #analytics -->
