<!-- noindex -->
{% if 'https://data' in h.full_current_url()  %}
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PJBVFG"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PJBVFG');</script>
	<!-- End Google Tag Manager -->
{% else %}
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NBSWN3"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NBSWN3');</script>
	<!-- End Google Tag Manager -->
{% endif %}

	<!--[if lt IE 9]><script type="text/javascript">jQuery && jQuery.transformer({addClasses:true});</script><![endif]-->

	<div id="access">
		<h2>Skip links and keyboard navigation</h2>
		<ul>
			<li><a href="#content">Skip to content</a></li>
			<li id="access-instructions"><a href="https://www.qld.gov.au/help/accessibility/keyboard.html#section-aria-keyboard-navigation">Use tab and cursor keys to move around the page (more information)</a></li>
		</ul>
	</div>

	<div id="header-wrapper"><div id="header"><div id="header-bg"></div><div class="box-sizing"><div class="max-width">
		<h2>Site header</h2>

		<div id="qg-coa"><a href="https://www.qld.gov.au/">
			<!--[if gt IE 8]><!--><img src="https://static.qgov.net.au/assets/beta-v2/images/skin/qg-coa.svg" width="287" height="50" alt="Queensland Government home" /><!--<![endif]-->
			<!--[if (lte IE 8)&(gt IE 6)]><img src="https://static.qgov.net.au/assets/beta-v2/images/skin/qg-coa.png" width="287" height="50" alt="Queensland Government home" /><![endif]-->
			<!--[if lte IE 6]><img src="https://static.qgov.net.au/assets/beta-v2/images/skin/qg-coa-ie6.png" width="287" height="50" alt="Queensland Government home" /><![endif]-->
			<img src="https://static.qgov.net.au/assets/beta-v2/images/skin/qg-coa-print.png" class="print-version" alt="" />
		</a></div>

	</div></div></div></div>
<!-- endnoindex -->
